b {
	border: 1px solid black;

}
h2.web{
	margin:10px;
}
i#en{
	font-style: Arial;
}

a:link  {color:#000000; background-color:transparent}
a:visited {color:#000000; background-color:transparent}
a:hover   {color:#ff0000; background-color:transparent}
a:active  {color:#ff0000; background-color:transparent}